version: 1

formatters:
    structured:
        class: synapse.logging.TerseJsonFormatter

handlers:
    file:
        class: logging.handlers.TimedRotatingFileHandler
        formatter: structured
        filename: /synapse_logs/homeserver.log
        when: midnight
        backupCount: 1
        encoding: utf8

loggers:
    synapse:
        level: WARNING
        handlers: 
            - file
    synapse.storage.SQL:
        level: WARNING
        handlers: []


root:
    level: WARNING
    handlers: 
        - file

disable_existing_loggers: true
